 * 
 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}
.navbar /*NAVBAR*/
{
  
  color: #171717;
  opacity: 1;
  background-color: #F4F4F6;
  background-image: url("../images/background/bg.jpg"); 
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  position: fixed;
  top: -100px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}

#header /*LANDING PAGE*/
{
  background-image: url("../images/background/bg.jpg"); 
  background-color: #EAEAED;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding: 20px;
}

 .logo 
{
  height: 75px;
  width: 80px;
}

.jumbotron 
{
  background-image: url("../images/background/jumbotron.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 2px;
}

.container-fluid 
{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.wrapper
{
  overflow-x: hidden;
}

.bg 
{
  background-color: #FBFBFB;
}

.break 
{
  clear: both;
  margin-top: 10px; 
}

img 
{
  width: 100%; 
}

.profile-img 
{
  height: 160px;
  margin-bottom: 15px;
  width: 160px; 
  border-radius: 100%;
  border-style: solid;
  border-color: white;
}

 .about /*ABOUT*/
{
  background-color: #E3E3E5;
  background-attachment: fixed;
}

.fas 
{
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color:#171717;
}

.fas:hover 
{
  color: #2F2F32;
}

h1 
{
  font-size: 80px;
  font-family: 'Anton', sans-serif;
  padding-top: 30px;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h2 
{
  font-family: 'Monda', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p 
{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif; 
}

.development /*DEVELOPMENT*/
{
  background-color: #DEDEE0;
  background-attachment: fixed;
  height: 110vh;
}

h3 
{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

h4 
{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

h5
{
  font-family: 'Hind Siliguri', sans-serif;
  padding-left: 20px;
}

h6
{
  font-family: 'Hind Siliguri', sans-serif;
  padding-left: 20px;
  color: black;
}

.title
{
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 23px;
  color: black;
}

.progress /*PROGRESS*/
{
  width: 100%;
}

.progress-bar 
{
  color: white;
  font-weight: bolder;
}

#skills, .tools
{
  color: white;
}

#html,
#css,
#js,
#php,
#jquery,
#sql,
#bootstrap,
#laravel 
{
  background-color: black; /*html orange*/
  /*border: 1px groove #e44d26;*/
  border: 1px groove white;
}

ul 
{
  list-style-type: none;
  margin-left: 40px;
}

li 
{
  text-align: left;
  font-size: 14px;
}

i 
{
  color: #2F2F32;
}

/*Porfolio*/

.portfolio {
  background-color: #E3E3E5;
  background-attachment: fixed;
  padding-bottom: 30px;
}

.portfolio-proj {
    margin-top: 0.625em; 
} 

.portfolio-proj-title {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Hind Siliguri', sans-serif;
  padding-bottom: 5px;
  margin-top: 1.25em;
}

.portfolio-proj-desc1, 
.portfolio-proj-desc2, {
  font-family: 'Archivo Narrow', sans-serif;
}
.portfolio-proj-btn {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #171717;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  border: 1px solid #171717;
  border-radius: 50px;
  margin-bottom: 1.25em; 
  margin-top: 2.50em;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0 0 #0B0B0B inset , 0px 0px 0 0 #0B0B0B inset;
}

.portfolio-proj-btn:hover {
  background: #171717;
  color: #EAEAED; 
  border: 1px solid #F5F5F5;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 50px 0px 0 0 #0B0B0B inset , -50px 0px 0 0 #0B0B0B inset;
}

.portfolio-proj-image {
  margin-bottom: 1.875em;
  padding-top: 5%; 
}

.portfolio-proj-image1, 
.portfolio-proj-image2, 
.portfolio-proj-image3 {
  display: block;
  width: 100%; 
  height: 100%;
  padding-bottom: 50px; 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #E3E3E5;
}

#project1:hover .overlay,
#project2:hover .overlay,
#project3:hover .overlay {
  opacity: .9;
}

.socials /*CONTACTS*/
{
  float: none;
  margin-left: auto;
  margin-right: auto; 
}

.fa-github {
  color: #333;
}

.fa-gitlab {
  color: #e24329;
}

.fa-linkedin-in {
  color: #0077b5;
}

/*.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}*/

.fa-github:hover, 
.fa-gitlab:hover, 
.fa-linkedin-in:hover, 
/*.fa-twitter:hover, 
.fa-instagram:hover */{
  color: #171717;
}

.email 
{
  color: #171717;
}

#contact 
{
  background-color: #DEDEE0;
  background-attachment: fixed;
}

.contact-social-icons p 
{
  color: #171717; 
}

.contact-social-icons ul a 
{
  color: #171717;
  list-style: none; 
}

.contact-social-icons ul a:hover 
{
  color: #717171; 
}

.contact-social-icons ul a li 
{
  display: inline-block;
  padding: 2%; 
}

.footer /*FOOTER*/
{
  background-image: url("../images/background/bg.jpg"); 
  overflow: hidden;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #EAEAED;
  color: #171717; 
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 12px;
}

#downloadBtn {
  text-transform: capitalize;
  font-size: 12px;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.typewriter h1 {
  width: 80%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.portfolio-proj-title {
  font-size: 11px;
}

.portfolio-proj-btn {
  font-size: 9px;
  margin-top: 40px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 12px;
}

.title, 
h2,
h3 {
  font-size: 12px;
} 
li {
  text-align: left;
  font-size: 10px;
}
.footer, 
h4 {
  font-size: 10px;
}

.development /*DEVELOPMENT*/
{
  background-color: #DEDEE0;
  background-attachment: fixed;
  height: 120vh;
}

#aboutMe 
{
  margin:20px;
}

.tools {
  width: 150%;
}

h6 {
  font-size: 10px;
}

#hiddenMdb {
  display: none;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
.portfolio-proj-title {
  font-size: 25px;
}

.portfolio-proj-btn {
  font-size: 15px;
}

.portfolio-proj-desc2 {
  font-size: 15px;
}
.portfolio-proj-desc1 {
  font-size: 15px;
}

.development /*DEVELOPMENT*/
{
  background-color: #171717;
  background-attachment: fixed;
  height: 80vh;
}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
