 * 
 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  overflow-x: hidden;
}
ul {
  margin-bottom: 0px;
}
i {
  color: #2F2F32;
}
.container {
  padding: 15px;
}
.navbar {
  background-image: url("../images/background/bg.jpg"); 
  color: #171717;
  opacity: 1;
  font-weight: bold;
  position: fixed;
  top: -100px;
  width: 100%;
  display:block;
  transition: top 0.3s;
}
.navbar .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 30px;
}
.navbar-nav a:hover {
    background-color: #FFF;
    color: #171717;
    border-radius: 50px;
}

.header {
  height: 25px;
  width: auto;
}
#header {
  background-image: url("../images/background/bg.jpg"); 
  background-color: #EAEAED;
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
  display:flex;
  align-items:center;
  text-align:center;
}
.landingPageName {
  font-size: 120px;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -10px;
}
.jumbotronTitle {
  font-size: 120px;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -10px;
  text-align: center;
  padding: 30px 0px 0px;
  margin: 0px;
}
#about {
  background-color: #F0F0F0;
}
.profile-img {
  height: 300px;
  width: auto; 
  margin: auto;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-bottom: 5px;
}
.about1stSec {
  margin-bottom: 0;
  text-align: center;
}
.aboutHeading {
  font-size: 50px;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1.2;
}
.aboutPar,
.contactPar {
  font-size: 18px;
  font-weight: 500;
  max-width: 90%;
}
.resume-btn {
  background: #171717;
  color: #F0F0F0; 
  padding: 15px;
  width: 60%;
  font-size: 16px;
  border-radius: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.25em; 
  -webkit-transition-duration: 0.3s;
}
.resume-btn:hover {
  color: #171717;
  background: #F0F0F0;
  -webkit-transition-duration: 0.3s;
}
.devTitle,
.portfolio-proj-title {
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  font-family: "Funnel Sans", sans-serif;
}
.logoTitle {
  font-weight: 500;
}
.logo {
  height: 95px;
  width: auto;
  filter: grayscale(0%);
  
  transition: filter 0.3s ease;
}
.logo:hover {
  filter: grayscale(100%);
  transform: translateY(-5px);
}

/*Porfolio*/
.portfolio {
  background-image: url("../images/background/bg.jpg"); 
  background-color: #F0F0F0;
  background-attachment: fixed;
  background-size: cover;
}
.portfolio-proj {
  margin-top: 0.625em; 
} 
.portfolio-proj-title {
  padding-bottom: 0.875rem;
  margin-top: 2.5rem;
  margin-left: 25px;
  text-align: left;
}
.portfolio-proj-desc1, 
.portfolio-proj-desc2 {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 25px;
  margin-top: 1.25rem;
}
.portfolio-proj-btn {
  background: #12100E;
  color: #F0F0F0; 
  padding: 15px;
  width: 60%;
  font-size: 16px;
  border-radius: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.25rem; 
  -webkit-transition-duration: 0.3s;
}
.portfolio-proj-btn:hover {
  color: #F0F0F0; 
  transform: translateY(-5px);
  -webkit-transition-duration: 0.3s;
}
.portfolio-proj-image {
  margin-bottom: 1.875em;
  padding-top: 5%; 
}
.portfolio-proj-image1, 
.portfolio-proj-image2 {
  display: block;
  width: 100%; 
  height: auto;
  padding-bottom: 50px; 
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.overlay {
    position: absolute;
    top: -25px;
    height: 100%;
    width: 95%;
    opacity: 0;
    border-radius: 50px;
    transition: .7s ease;
    background-color: #FFF;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
#project1:hover .overlay,
#project2:hover .overlay {
  opacity: 1;
}
/*Footer*/
.contactTitle {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: .5em;
  margin-top: 1.25em;
  text-align: center;
}
.contactLogo {
  text-align: center;
}
.contactPar {
  width: 60%;
  margin: auto;
  text-align: center;
}
.contactAcct {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.contactFont {
  font-size: 70px;
}
.fa-github:hover {
  color: #333;
}
.fa-gitlab:hover {
  color: #e24329;
}
.fa-linkedin-in:hover {
  color: #0077b5;
}
.fa-github, 
.fa-gitlab, 
.fa-linkedin-in {
  color: #171717;
  cursor: pointer;
  padding-right: 10px;
}
.email,
.phone {
  color: #171717;
}
#contact {
  background-color: #F0F0F0;
  background-attachment: fixed;
}
.footer {
  background-color: #F0F0F0;
  color: #171717; 
  overflow: hidden;
  bottom: 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 5px 60px;
  text-align: left;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .navbar .nav-item .nav-link {
    font-size: 13px;
  }
  #header {
    height: 50vh;
  }
  .landingPageName,
  .jumbotronTitle {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3px;
  }
  .profile-img {
    height: 150px;
    width: auto;
  }
  .resume-btn {
    font-size: 12px;
  }
  .aboutHeading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -2px;
  }
  .aboutPar {
      font-size: 14px;
      max-width: 100%;
  }
  .devTitle {
    font-size: 18px;
  }
  .logoTitle {
    font-size: 12px;
  }
  .portfolio-proj-image1, 
  .portfolio-proj-image2, 
  .portfolio-proj-image3 {
    display: block;
    width: 100%; 
    height: auto;
    padding-bottom: 0px; 
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  .overlay {
    position: relative;
    opacity: 100;
    height: 50%;
    background-color: transparent;
  }
  .portfolio-proj-title {
    font-size: 18px;
    padding-bottom: .5em;
    margin-top: 1.25em;
    margin-left: 0px;
    text-align: center;
  }
  .portfolio-proj-desc1, 
  .portfolio-proj-desc2 {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 0rem;
  }
  .portfolio-proj-btn {
    font-size: 10px;
    margin-bottom: 2.25em;
    margin-top: 0.5em;
  }
  .landingPageTitle {
    font-size: 16px;
  }
  .title {
    font-size: 18px;
  } 

  .contactTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: .5em;
    margin-top: 1.25em;
    text-align: center;
  }
  .contactLogo {
    text-align: center;
  }
  .contactSubject {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }
  .contactPar {
    width: 100%;
  }
  .contactPar,
  .contactAcct {
    text-align: center;
    font-size: 14px;
  }
  .contactFont {
    font-size: 30px;
  }
  .footer {
    font-size: 14px;
    padding: 5px;
    text-align: center;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
  .landingPageName {
    font-size: 70px;
  }
  .landingPageTitle {
    font-size: 30px;
  }
  .portfolio-proj-title {
    font-size: 25px;
  }
  .portfolio-proj-btn {
    font-size: 15px;
    margin-bottom: 1.25em; 
  }
  .portfolio-proj-desc2 {
    font-size: 15px;
  }
  .portfolio-proj-desc1 {
    font-size: 15px;
  }
}

/* Ipad Pro*/
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
